* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cut-border {
	border: 1px solid red;
	padding: 1px;
}


.main {
    /* background-color: rgb(0, 132, 255); */
    /* background-image: linear-gradient(to bottom right, green, green); */
    /* background-image: linear-gradient(to bottom right, #2565BB, #2565BB); */
    /* background-image: linear-gradient(to bottom right, #8A29D4, #8A29D4); */
    /* background-image: linear-gradient(to bottom right, #AE6B2A, #AE6B2A); */
    background-image: linear-gradient(to bottom right, #0066cc, #ffcc00);
    filter: saturate(300%);
    width: 252px;
    height: 276px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
	
}

.line-1 {
    width: 216px;
    height: 24px;
    background-color: black;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

/* ! */
.line-2-wrap {
    display: flex;
    justify-content: space-between;
}

.line-2 {
    width: 96px;
    height: 24px;
    background-color: black;
}

/* ! */
.line-3-wrap {
    display: flex;
    justify-content: space-between;
}

.line-3 {
    width: 72px;
    height: 24px;
    background-color: black;
}

/* ! */
.line-4-wrap {
    display: flex;
    justify-content: space-between;
}

.line-4 {
    width: 48px;
    height: 24px;
    background-color: black;
}

/* ! */
.line-5-wrap {
    display: flex;
    justify-content: space-between;
}

.line-5 {
    width: 48px;
    height: 24px;
    background-color: black;
}

/* ! */
.line-6-wrap {
    display: flex;
    justify-content: space-between;
}

.line-6 {
    width: 24px;
    height: 24px;
    background-color: black;
}

/* ! */
.line-7-wrap {
    display: flex;
    justify-content: space-between;
}

.line-7 {
    width: 24px;
    height: 24px;
    background-color: black;
}

/* ! */
.line-8-wrap {
    display: flex;
    justify-content: space-between;
}

.line-8 {
    width: 48px;
    height: 24px;
    background-color: black;
}

/* ! */
.line-9-wrap {
    display: flex;
    justify-content: space-between;
}

.line-9 {
    width: 96px;
    height: 24px;
    background-color: black;
}

.line-10 {
    width: 216px;
    height: 24px;
    background-color: black;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}